body{background:#333;margin:0;padding:0}

.example { 
    position:initial;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #333;
    overflow: hidden;
}
.example img { 
    position: absolute;
    
    overflow: hidden;
    cursor: pointer;
    left: 100%;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
	cursor: url(http://cur.cursors-4u.net/others/oth-1/oth4.cur), progress !important;
}
.example span {
    position: initial;
    color: #efe;
    font-family: verdana;
    font-size: 0px;
    white-space: nowrap;
    left: -999px;
    background: #333;
    /*filter: alpha(opacity=70);
    opacity: 0.7;*/
    background: rgba(0, 0, 0, 0.7);
}
div#content {
    position: relative;
    top: 80px;
    left: 40px;
    bottom: 25px;
    min-width: 200px;
    height: 100%;
    width: 100%;
    background: white;
}

div#content iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

body, a:hover {cursor: url(http://cur.cursors-4u.net/others/oth-1/oth4.cur), progress !important;}